html {
  font-family: "Space Grotesk", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
body {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  width: 1440px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.aside {
  background-repeat: no-repeat;
  height: 610px;
  background-image: url(images/bg-main-desktop.png);
}
.CardFront {
  transform: translate(100px, 50px);
  position: absolute;
}
.CardBack {
  transform: translate(180px, 350px);
  position: absolute;
}
#CardName,
#CardNumber,
#CardDate,
#CVC {
  font-weight: lighter;
  color: white;
  font-size: 1.7rem;
  position: absolute;
}
#CardName {
  transform: translate(50px, 175px);
}
#CardNumber {
  font-size: 3.5rem;
  transform: translate(35px, 100px);
}
#CardDate {
  transform: translate(350px, 175px);
}
#CVC {
  color: white;
  font-size: 1.7rem;
  position: absolute;
  transform: translate(350px, 90px);
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  width: 100px;
}
.completed p {
  opacity: 0.6;
}
.info,
.completed {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  padding: 15px;
}
.completed {
  display: none;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="number"] {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  height: 20px;
}
#MM,
#YY {
  width: 65px;
}
#cvc {
  margin-left: 10px;
  width: 100px;
}
input[type="submit"] {
  color: white;
  border-radius: 15px;
  background-color: hsl(278, 68%, 11%);
  font-family: "Space Grotesk", sans-serif;
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  height: 50px;
}
.Failed {
  margin-left: 15px;
  font-size: 1.2rem;
  color: red;
}
#CVCEmpty {
  margin-left: 125px;
}
#CVCEmpty,
#DateEmpty,
#NumberEmpty,
#NameEmpty {
  display: none;
}
